@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
body {
  margin: 0;
  font-family: 'Nova Square',cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Nova Square',cursive;
  color: #ffffff;
}

body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  background-color: #252d4a;
  width: 700px;
  min-height: 300px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
 
  justify-content: space-evenly;
}
.name {
  align-items: center;
  margin-left: 10%;
  font-family: 'Nova Square',cursive;
  font-size: 35px;
  color: #fff;
  margin-bottom: 30px;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 16px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 30px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  margin: 5px;
}

.correct {
  background-color: rgb(16, 233, 16);
}

.incorrect {
  background-color: rgb(16, 233, 16);
}

button:hover {
  background-color: #E6C376;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}