.Text {
  flex-grow: 1;
  text-align: center;
}

.Text-Color {
  color: #333 !important;
}

h3, h4{
  margin-top: 100px !important;
  font-weight: 300 !important;
  margin-bottom: 15px !important;
}

h6{
  margin-top: 15px !important;
  margin-right: 5px !important;
  font-weight: 300 !important;
}

h4{
  text-align: left !important;
  margin-top: -33px !important;
  font-size: 1.5rem !important;
}
.MuiTypography-h3{
  font-size: 40px !important;
  line-height: 1.567 !important;
}
.MuiFormControlLabel-label, .MuiTypography-body1{
  font-weight: 300 !important;
  margin-top: -100px;
}
.MuiFormGroup-root{
  display: grid !important;
  grid-template-columns: 100px 100px !important;
  grid-column-gap: 370px !important;
  grid-row-gap: 5px !important;
}
.MuiPaper-root{
  width: 450px;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  font-weight: bold !important;
  background-color: orange !important;
}
button {
  margin-top: 45px !important;
  border-radius: inherit !important;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: orange !important;
}

.Card{
  margin: 0px 5px;
  border-radius: inherit !important;
}

.Alert{
  border-radius: 0em !important;
}

.Icon{
  margin-top: 5px !important;
}

.inlinecode {
  background-color: lightgray;
  padding: .2em .4em;
  color: orange ;
}

.Code-Block{
  display: grid;
}

pre code:first-child {
  border-right: 1.5px solid #27ae60;
  padding-right: 5px !important;
  margin-right: 10px !important;
}

.Full-Width{
  width: -webkit-fill-available;
}

.Paper{
  margin: 5px 0px;
  padding: 5px;
  background-color: #ecf0f1 !important;
  border-radius: unset !important;
}

.Questions{
  flex-grow: 1;
}

.Grid-Item{
  margin: 5px !important;
}

.Report-Problem{
  margin-top: 50px !important;
  font-size: 10rem !important;
  text-align: center;
  width: -webkit-fill-available !important;
}

.Space-Bottom-know{
  margin-bottom: 100px !important;
  margin: 2em 1em !important;
  background-color: green !important;
}
.Space-Bottom-think{
  margin-bottom: 100px !important;
  margin: 2em 1em !important;
}
.Space-Bottom{
  margin-bottom: 100px !important;
  margin: 2em 1em !important;
}
.Space-Bottom-maybe{
  margin-bottom: 100px !important;
  margin: 2em 1em !important;
  background-color: orangered !important;
}
.Space-Bottom-unsure{
  margin-bottom: 100px !important;
  margin: 2em 1em !important;
  background-color: red !important;
}

.Image{
  max-height: 580px;
  max-width: 550px;
  align-self: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .Image{
    max-width: 320px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Image{
    max-width: 768px;
  }
}
