html,
body,
#root{
    height: 100%;
}

.quiz{
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100%;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
.control{
    width: 600px;
    margin-left: 7.5%;
}
.quiz .quiz_card{
    text-align: center;
}

label.radio{
    display: block;
    text-align: left;
    padding: 15px;
    margin-bottom: 5px ;
    font-size: 20px;
}
.content{
    background-color: lightblue;
    width: 700px;
}
.mb-5{
    width: 700px;
    font-size: 20px;
    padding: 30px 50px 30px 30px;
}
.radio{
    border: solid black;
    margin-top: 20px;
    color: black;
    font-weight: 500;
}
.option {
    display: flex;
    align-items: center;
}
.quiz_card-content{
    width: 700px;
    background-color: aquamarine;
}
.quiz_card{
    width: 700px;
}
label.radio+.radio{
    margin-left: 0;
}
.button {
    padding: 15px;
}
label.radio input{
    margin-right: 10px;
}
