@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap";

.content-container {
	min-height: 100vh;
	width: 80%;
	align-items: center;
	display: flex;
    margin-left: 14%;
}
.content {
	flex-direction: column;
	justify-content: center;
	background-color: white;
	h1 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}
}
.content-inside {
	a {
		margin-left: -20px;
		width: 500px;
	}
}
.button {
	font-size: 17px;
	font-family: tahoma;
	font-weight: bold;
	.fa {
		margin-left: 20px;
	}
	&:hover {
		background: transparent;
		text-decoration: none;
		color: rgb(230, 195, 118);
		font-weight: bold;
		outline: none;
	}
	&:focus {
		background: transparent;
		text-decoration: none;
		color: rgb(230, 195, 118);
		font-weight: bold;
		outline: none;
	}
}
iframe {
	margin-left: 40px;
}
.button.mfp-hide {
	overflow: visible;
	cursor: pointer;
	background: white;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
}
.mfp-hide {
	width: 44px;
	height: 44px;
	border-radius: 50px;
	line-height: 44px;
	position: absolute;
	right: 40px;
}
.wrapper {
	display: flex;
	position: absolute;
	margin-top: -120px;
	.slidebar {
		position: fixed;
		width: 400px;
		height: 100%;
		padding: 30px 30px;
		h2 {
			color: black;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 30px;
			margin-top: 150px;
		}
		ul {
			li {
				margin-left: 20px;
				font-size: 15px;
				padding: 10px;
				border-bottom: 1px solid rgba(0,0,0,0.05);
				border-top: 1px solid rgba(255,255,255,0.05);
				color: black;
				a {
					color: black;
					display: block;
					font-weight: bold;
				}
				&:hover {
					background: orange;
					background: orange;
				}
			}
		}
	}
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	+ {
		.content-container {
			padding-top: 100px;
		}
	}
}
.top-container {
	min-height: 8vh;
	background-color: rgb(30,31,40);
	transition: .3s ease background-color;
	padding: 25px;
	color: white;
	text-align: center;
}
.header_2 {
	background-color: #ffb404;
	padding: 10px 16px;
	margin-bottom: 20px;
}
.subject-name {
	margin-left: 100px;
	margin-top: 0px;
	color: white;
	h1 {
		color: white;
		font-weight: 2000;
		font-size: 40px;
	}
}
.lesson-name {
	margin-left: 100px;
	margin-top: 10px;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
	color: black;
}
.lesson-title {
	font-size: 30px;
	font-weight: bold;
	width: 500px;
	margin-bottom: 30px;
	h1 {
		font-weight: bold;
		font-size: 20px;
		margin-top: 30px;
	}
}
.mode-button {
	button {
		margin-left: 112px;
		margin-bottom: 20px;
		font-size: 18px;
		background-color: orange;
		font-weight: bold;
	}
}
.learn {
	font-size: 20px;
	margin-top: 30px;
	float: left;
	padding: 20px;
	width: 50%;
}
.practice-title {
	font-size: 20px;
	margin-left: 10px;
}
.practice-noti {
	font-size: 18px;
	margin-left: 10px;
}
.box-content {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	width: 400px;
	height: 80px;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid black;
}
.box-item {
	padding: 30px;
	width: 950px;
	margin-bottom: 30px;
	margin-right: 80px;
	background-color: #d4d7dc;
	border-radius: 10px;
}
.document-option {
	a {
		display: table-row;
		font-weight: bold;
	}
}
.row_content {
	display: absolute;
}
.practice-field {
	margin-top: 70px;
	font-size: 20px;
	font-weight: bold;
}
.footer {
	background: rgb(30,31,40);
	color: #fff;
	text-align: center;
	padding: 2em;
	.footer-title {
		font-size: 20px;
		font-weight: 600;
	}
	p {
		font-size: 16px;
		margin-top: 10px;
		color: #fff;
		a {
			color: orange;
			font-weight: 600;
			text-decoration: none;
		}
	}
}
